/* .course-details {
    width: 100%;
  } */
  .view-lessons-button {
    border: none; 
    font-size: 18px; 
    font-weight: bold;
    color: #ffffff; 
    background-color: #91dadc; 
    padding: 10px 20px;
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  .view-lessons-button:hover {
    background-color: #278f93; 
    color: white;
  }
  
   .course-details {
    margin: 16px 0;
  
  }
  
  mat-card {
    padding: 16px;
    border-radius: 0;
  }
  
  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; 
    margin-bottom: 16px; 
    text-align: center;
  }
  
  mat-card-content p {
    margin: 0 0 8px;
    color: #555; 
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 16px; 
  }
  