<div>
    
    <ul>

     
        @for(course of (courses$ | async);track course.id){
          <app-course-details
          [id]="course.id"
          [title]="course.title"
          [description]="course.description"
          [lessons]="course.lessons"
          [teacherId]="course.teacherId"
          [role]="'student'"
          >
        
        </app-course-details>
          
        <button (click)="joinCourse(course.id)">join course</button>
        <!-- <button (click)="leaveCourse(course.id)">leave</button> -->
      
        }  
    </ul>
  </div>
  