/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/azure-blue.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width-icon-button {
 
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
  }
  
  .full-width-icon-button span {
    width: 100%; /* Make the span fill the button */
    text-align: center; /* Center the text/icon */
  }
  